<div class="container">
  <div class="item1">
    <label for="fileinput" class="custom-file-upload"><i class="material-icons">perm_media</i>
      {{buttonText}}
    </label>
    <input type="file" id="fileinput" (change)="sendRequest($event)">
    <button mat-raised-button onclick="uploadFiles()">Upload</button>
  </div>
  <div class="item2">
    <mat-card style="height: 50vh; padding: 0;">
      <img *ngIf="image.Url; else noimg" src={{image.Url}}>
      <ng-template #noimg> <div class="imageBorder"><p>Please Upload an Image.</p></div></ng-template>
    </mat-card>
  </div>
  <div class="item3">
    <mat-card>
      <mat-card-title>Response</mat-card-title>
      <mat-card-content>
        <p>Dummy text</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
